<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="canvas-container" id="lineChartContainer">
    <canvas id="lineChart" class="draggable resizable"></canvas>
    <div class="resize-handle top-left"></div>
    <div class="resize-handle top-right"></div>
    <div class="resize-handle bottom-left"></div>
    <div class="resize-handle bottom-right"></div>
  </div>
  <button (click)="changeData()">Cambio</button>
  <div class="canvas-container" id="barChartContainer">
    <canvas id="barChart" class="draggable resizable"></canvas>
    <div class="resize-handle top-left"></div>
    <div class="resize-handle top-right"></div>
    <div class="resize-handle bottom-left"></div>
    <div class="resize-handle bottom-right"></div>
  </div>
  <div class="canvas-container" id="pieChartContainer">
    <canvas id="pieChart" class="draggable resizable"></canvas>
    <div class="resize-handle top-left"></div>
    <div class="resize-handle top-right"></div>
    <div class="resize-handle bottom-left"></div>
    <div class="resize-handle bottom-right"></div>
  </div>
</div>


<button (click)="logCanvasPositions()">Ver posiciones</button>
<router-outlet></router-outlet>
